@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">

    <h1 class="display-4">Welcome</h1>

    <button type="button" id="btnTsetmc">From Tsetmc</button>
    <button type="button" id="btnSahamyab">From Sahamyab</button>
    <button type="button" id="btnoldDays">OldDays</button>
    <button type="button" id="btncharts">Rebuild Charts</button>
    <input type="text" id="txtdate" />

    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
