@{
    ViewData["Title"] = "Home Page";
}

<script src="https://code.highcharts.com/highcharts.js"></script>
<div class="text-center">

    <h1 class="display-4">Welcome</h1>

    <button type="button" id="btnTsetmc">From Tsetmc</button>
    <button type="button" id="btnSahamyab">From Sahamyab</button>
    <button type="button" id="btnoldDays">OldDays</button>
    <button type="button" id="btncharts">Rebuild Charts</button>
    <input type="text" id="txtdate" />

    <div id="container" style="width:100%; height:400px;"></div>
    <div id="maxZarar3day" style="width:30%; height:400px;"></div>
    <div id="maxZarar7day" style="width:30%; height:400px;"></div>
    <div id="maxZarar14day" style="width:30%; height:400px;"></div>
    <div id="maxZarar30day" style="width:30%; height:400px;"></div>
    <div id="maxZarar60day" style="width:30%; height:400px;"></div>
    <div id="maxZarar90day" style="width:30%; height:400px;"></div>
</div>
